/* ==========================
   CHAT CONTAINER
========================== */

.chat {
    flex: 1;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    overflow-y: auto;
}
.chatCenter{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.newChat h1{
    font-size:2.5rem;
    font-weight:700;
    color:var(--text);
}

.newChat {
    text-align: center;
}



/* ==========================
   EMPTY CHAT
========================== */

.chat h1{
    text-align:center;
    font-size:2rem;      /* 32px */
    font-weight:600;
    color:var(--text);
    margin-top:30vh;
}

/* ==========================
   USER MESSAGE
========================== */

.userDiv{
    display:flex;
    justify-content:flex-end;
    margin:28px 0;
}

.userMessage{
    max-width:75%;

    padding:14px 18px;
    font-size: 15px;

    background:var(--card-bg);
    color:var(--text);

    border:1px solid var(--border);

    border-radius:18px;

    line-height:1.6;

    word-break:break-word;
}

/* ==========================
   GPT MESSAGE
========================== */

.gptDiv{
    display:flex;
    flex-direction:column;

    margin:28px 0;

    text-align:left;

    font-size:1rem;
}

.gptMessage{
    color:var(--text);

   max-width: 760px;
    line-height: 1.8;

    animation:fadeIn .3s ease;
}

.gptMessage p{
    margin:12px 0;
}
.gptMessage h1{
    font-size: 30px;
    margin: 18px 0;
}

.gptMessage h2{
    font-size: 24px;
}

.gptMessage ul{
    padding-left: 22px;
}

.gptMessage li{
    margin: 8px 0;
}

.gptMessage a{
    color:#3b82f6;
    text-decoration:none;

    transition:.25s;
}

.gptMessage a:hover{
    text-decoration:underline;
}

/* ==========================
   INLINE CODE
========================== */

.gptMessage code{
    background:var(--card-bg);

    color:var(--text);

    padding:3px 7px;

    border-radius:6px;

    font-size:.9rem;
}

/* ==========================
   CODE BLOCK
========================== */

.gptMessage pre{
    margin:16px 0;

    padding:18px;

    background:var(--card-bg);

    border:1px solid var(--border);

    border-radius:16px;

    overflow-x:auto;
}

.hljs{
    border-radius:14px !important;
}

pre{
    white-space:pre-wrap;
}

/* ==========================
   COPY BUTTON
========================== */
.copyBtn{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    padding: 6px 10px;
    font-size: 14px;
    background:transparent;
    
    cursor:pointer;
     color:var(--text-secondary);
     transition:.25s;
       border:none;

}


.copyBtn:hover{
    color:var(--text);

    transform:translateY(-1px);
}

/* ==========================
   CURSOR
========================== */

.cursor{
    display:inline;
    animation:blink 1s steps(1) infinite;
}

@keyframes blink{

    50%{
        opacity:0;
    }

}

/* ==========================
   MESSAGE ANIMATION
========================== */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}