.Sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
   
   
}
.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid  0.5px rgba(255, 255, 255,0.5);
    cursor: pointer;
}

button span{
    font-size: 20px;
}
button:hover{
    background-color: rgba(180, 180, 180,0.05);
}

.history {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    margin: 10px;
    padding: 10px;
}
.history li{
    cursor: pointer;
    list-style-type: none;
    padding: 2px 3px;
    margin: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover{
   background-color: rgba(180, 180, 180,0.05);
   border-radius: 10px;
}

.sign{
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}
.history li.highlight {
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 10px;
}
.history li {
    transition: all 0.2s ease;
}

